.wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .star {
    cursor: pointer;
    color: #d8d8d8;
    font-size: 26px;
  }
  
  .star:hover,
  .star:active,
  .star.filled {
    color: orange;
  }